*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spectral', serif;
}
body{
    width: 100vw;
    height: 100vh;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shirts{
    margin-top: 10px;
}
.wright{
    margin-right: 30px;
}
.wright > img{
    width: 350px;
    border: 1px solid rgb(214, 214, 214);
}
.box{
    display: flex;
}
.ratings{
    color: gold;
    margin-top: 13px;
}
.prise{
    margin-top: 13px;
}
.title{
    margin-top: 13px;
}
.offer{
    color: green;
}
.uncheck{
    text-decoration: line-through;
}
.color{
    margin-top: 13px;
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.availability{
    position: relative;
    bottom: 35px;
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.wright_content{
    position: relative;
    left: 40px;
}
.bold{
    font-weight: 900;
}
label{
    font-weight: 900;
}
.radio{
    margin-left: 10px;
}
.form{
    display: inline-block;
    margin-left: 24px;
}
.option{
    position: relative;
    bottom: 15px;
}
.btn{
    position: relative;
    top: 120px;
}
.btn1{
    background-color: rgb(52, 52, 255);
    padding: 5px 10px;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}
.btn2{
    padding: 5px 10px;
    color: black;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    font-weight: 600;
    margin-left: 20px;
}
.selection{
    display: flex;
    position: relative;
    top: 280px;
    right: 335px;
}
.nums{
    height: 20px;
    margin-left: 57px;
}
